h1, h2, h3, p{
  font-family: Helvetica;
color:white;}

h1
{
background-image: url("https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-2/pattern.jpeg");
font-family: Helvetica;
font-size:100px;
font-weight:bold;
color: khaki;
text-align: center;
}

.item h2
{
font-size: 32px;
font-weight: bold;
}

#brush {
  background-color:MediumSpringGreen;
}

#frame{
  background-color:LightCoral;
}

#paint{
  background-color:SkyBlue;
}

h3{color:black;}

p{
  color: black;
}
.price{
  font-family: Helvetica;
  font-weight: bold;
  color:blue;
}
